.main-footer {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    background-color: #325ea8;
    color: white;
    
    position: absolute;
    text-align:center;
    font-size: 18px;
}



a {
    color: white;
  }