.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    background-color: white;
    color: black;
    font-size: 15px;
  }
  div.superHead {
    font-size: 350%;
    font-weight: 500;
  }

  div.subHead {
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      padding-top: 10px;
  }