.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: white;
    color: black;
    font-size: 15px;
  }
  div.superHead {
    font-size: 350%;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    line-height:200%;
  }

  div.subHead {
      font-size: 200%;
      font-weight: 400;
      font-family: 'Roboto', sans-serif;
  }