.main-body {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    padding: 1em;
    padding-bottom: 1%;
    padding-left: 50px;
    padding-right: 50px;
    background-color:#D3D3D3;
    color: black;
    font-size: 18px;
    height: 100%;
}

.header {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    background-color:#325ea8;
    color: white;
    text-align: center;
}

.body {
    text-align: center;
    
}

.divider{
    width:30%;
    height:auto;
    display:inline-block;
}

.divider-mini{
    width:2%;
    height:auto;
    display:inline-block;
}

.bottom-button {
    text-align: center;
}

g text {
    fill: rgb(24, 24, 24);
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
